@import 'assets/styles/_variables.module.scss';

.info-panel-wrapper {
  margin: 0 10px;
  background-color: $dashboard-item;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px;
}

.info-panel {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  row-gap: 5%;
}

.statistics-content {
  display: flex;
  min-width: 100%;
  justify-content: space-between;
}

.no-data-item {
  text-align: center;
}

.no-data-item-block {
  margin: 0 10px;
  background-color: $dashboard-item;
  border-radius: 10px;
  border: 1px solid #000;
  padding: 10px;
}

.dashboard-mod {
  width: 100%;
}
