@import 'assets/styles/_variables.module.scss';

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
}

.form-main {
  display: grid;
  border: 2px solid black;
  border-radius: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.7fr repeat(3, 0.3fr);
  grid-auto-rows: 0.3fr;
  row-gap: 10px;
  column-gap: 20px;
  padding: 20px 30px;
  width: 650px;
  color: $navbar-background;
  background: white;
  opacity: 0;
  animation: ani 0.4s forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.form-title {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding-bottom: 15px;
  border-bottom: 1px solid gray;
  grid-column: 1 / span 2;
  &__item {
    font-size: 2rem;
  }
  &__second {
    font-size: 0.8rem;
    color: gray;
    font-weight: 100;
  }
}

.logo-wrapper {
  &__item {
    font-size: 2rem;
  }
}

.field-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 5px;
  &__input,
  &__select {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    line-height: 1rem;
  }
}

.role {
  grid-row: 6 / span 1;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  column-gap: 5px;
}

.submit-position {
  grid-column: 1 / span 2;
}

.links-position {
  grid-column: 1 / span 2;
}

.error {
  height: 5px;
  color: $error_color;
}
