$navbar-background: #081f36;
$navbar-background-hover: #09233d;
$navbar-color-text: #fff;

$form-color: #094cdc;
$form-color-active: #0051ff;
$submit-btn-hover: #074feb;
$input-borders: #adadad;
$input-borders-focus: #000;

$dashboard-item: #f3f5f9;
$dashboard-item_hover: #e7edf99a;
$error_color: #961515;
